<%- include("partials/head.ejs") %>
    
</head>
<body>
<%- include("partials/nav.ejs") %>
<main>
    <h1> <%= about %> </h1>
    <hr>
    <div id="contenedor-productos">

        <!-- Vamos a iterar el array de productos que le pasamos desde el endpoint -->
        <% productos.forEach(prod => { %>
            <div class="card-producto">
                <img src="<%= prod.imagen_direccion %>" alt="<%= prod.nombre %>">
                <h3><%= prod.nombre %></h3>
                <p>Id: <%= prod.id %></p>
                <p>$<%= prod.precio %></p>
                <input class="btnDetalles" type="button" value="Ver detalles" data-itemId="<%=prod.id%>">
                <input class="btnModificar" type="button" value="Modificar" data-itemId="<%=prod.id%>">
            </div>
        <% }) %>

    </div>
</main>
<script src="js/pantalla-index.js"></script>

<%- include("partials/footer.ejs") %>